<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div class="biglogin">
  <div class="logo">Beer</div>

  <div class="login">
    <a href="/sessions/new">Log In </a>
    <br>
    <a href="/users/new">Sign Up </a>
  </div>
</div>
</body>
</html>