<div id="main-container" class="container">
	<div class="welcome animated rollIn">

  		<h1 class>Chugg'd</h1>

	    <a href="/sessions/new">Log In </a>
	    <br>
	    <a href="/users/new">Sign Up </a>
	</div>
</div>