<div class="backgroundgif"></div>


  <div id="main-container" class="container">
  	<div class="welcome">
    		<h1>Chugg'd</h1>

  	    <a href="/sessions/new">Log In </a>
  	    <br>
  	    <a href="/users/new">Sign Up </a>
   	</div>
  </div>
