body { background: url("https://i.imgur.com/XHGzOae.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.welcome {
  text-align: center;
    background-color: #FAF0E6;
    border-radius: 400px;
    width: 200px;
    height: 200px;
    padding-top: 25px;
    vertical-align: middle;
    color: #242321;
    line-height: 2em;
    border: 3px solid #242321;
    margin-top: 25%;
}

a {
	color: #242321;
}

.navbar {
	border-bottom:  3px solid #242321;
}

.margin-right {
	float: right;
	padding: 1em;
}