html { 
  background: url('/assets/beer.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.login{
  text-align: center;
}