

.backgroundgif{
    background: url('https://i.imgur.com/XHGzOae.gif') center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: -1;
}

.welcome {
  text-align: center;
    background-color: #FAF0E6;
    border-radius: 400px;
    width: 200px;
    height: 200px;
    padding-top: 25px;
    vertical-align: middle;
    color: #242321;
    line-height: 2em;
    border: 3px solid #242321;
    margin-top: 25%;
}

a {
	color: #242321;
}

.navbar {
	border-bottom:  3px solid #242321;
}

.margin-right {
	float: right;
	padding: 1em;
}

.modal-content {
    text-align: center;
    box-shadow: 1px 1px 10px 5px black;
    left: -200px;
    width: 50%;
    top: 6em;
}

#create {
    left: -200px;
    width: 50%;
    top: 5em;
}

